on:
    workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: cimg/android:2026.01.1-ndk

    steps:
      - name: Get Source Code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update
          
          # things to make tzdata not annoy us
          export DEBIAN_FRONTEND=noninteractive
          sudo ln -fs /usr/share/zoneinfo/America/New_York /etc/localtime
          
          sudo apt-get install -y cmake meson pkg-config ninja-build python3 python3-pip curl unzip

      - name: Run Script
        run: |
          # set env versions
          NDK_VERSION="29.0.14206865"
          NDK_PATH="/home/circleci/android-sdk/ndk/${NDK_VERSION}/"
          
          python main.py --android_ndk_version=${NDK_VERSION} --android_ndk_path=${NDK_PATH} --android_ndk_host=linux-x86_64 --auto_accept_licence=y

      - name: Assert Folders Exists
        run: |
          [ -d "source" ] && [ "$(ls -A source)" ] || { echo "Source folder is missing or empty"; exit 1; }
          [ -d "build" ] && [ "$(ls -A build)" ] || { echo "Build folder is missing or empty"; exit 2; }
          [ -d "install" ] && [ "$(ls -A install)" ] || { echo "Install folder is missing or empty"; exit 3; }